/*COLORS*/
$primary-color: black;
$secondary-color: #4bb84a;
$light-color: white;
$tertiary-color: #0691ff;

/*FONTS*/
$primary-font: Circular, Arial, Helvetica, sans-serif;
$defaultFontSize: 16;

/*OTHERS*/
$pathImages: "../images/";

/*BREAKPOINTS*/
$breakpointTablet: 768px;
$breakpointPC: 1200px;

/*FILE PATHS*/
$asset-base-path: "../";
