<section class="hero">
  <div class="wrapper">
    <h1 class="hero__title">
      <span>Prueba Premium</span> <span>gratis 3 meses</span>
    </h1>
    <p class="hero__text">
      Escucha millones de canciones sin anuncios, a la carta y sin conexión.
    </p>
    <div class="button__plans"><a href="">Ver planes</a></div>
    <p class="hero__conditions">
      <small>
        Rigen términos y condiciones. Los tres meses gratis no están disponibles
        para usuarios que ya hayan probado Premium.</small
      >
    </p>
  </div>
</section>
