<section class="options">
  <div class="wrapper">
    <h2>¿Por qué pasarte a Premium?</h2>
    <div class="options-items">
      <include
        src="./option-box.html"
        imgRoute="./assets/images/benefit-1.png"
        imgAlt="Descarga música"
        optionTitle="Descarga música"
        optionText="Llévala siempre contigo"
      ></include>
      <include
        src="./option-box.html"
        imgRoute="./assets/images/benefit-2.png"
        imgAlt="Sin anuncios"
        optionTitle="Sin anuncios"
        optionText="Disfruta de música sin interrupciones"
      ></include>
      <include
        src="./option-box.html"
        imgRoute="./assets/images/benefit-3.png"
        imgAlt="Escucha lo que quieras"
        optionTitle="Escucha lo que quieras"
        optionText="Incluso en el móvil"
      ></include>
      <include
        src="./option-box.html"
        imgRoute="./assets/images/benefit-4.png"
        imgAlt="Salta todas las canciones que quieras"
        optionTitle="Salta todas las canciones que quieras"
        optionText="Simplemente dale a siguiente"
      ></include>
    </div>
  </div>
</section>
