<section class="options">
  <div class="wrapper">
    <h2>¿Por qué pasarte a Premium?</h2>
    <div>
      <article>
        <img src="" alt="Descarga música" />
        <h3>Descarga música</h3>
        <p>
          Llévala siempre contigo
        </p>
      </article>
      <article>
        <img src="" alt="Sin anuncios" />
        <h3>Sin anuncios</h3>
        <p>
          Disfruta de música sin interrupciones
        </p>
      </article>
      <article>
        <img src="" alt="Escucha lo que quieras" />
        <h3>Escucha lo que quieras</h3>
        <p>
          Incluso en el móvil
        </p>
      </article>
      <article>
        <img src="" alt="Salta todas las canciones que quieras" />
        <h3>Salta todas las canciones que quieras</h3>
        <p>
          Simplemente dale a siguiente
        </p>
      </article>
    </div>
  </div>
</section>
