/*
EJERCICIO 7
Hacer una web que, en función del ancho de la ventana del navegador, cambie su color de fondo:
Si el tamaño de la ventana es menor de 480px que tenga el fondo rojo
Si el tamaño de la ventana está entre 480px y 768px que tenga el fondo amarillo
Si el tamaño de la ventana es mayor de 768px que tenga el fondo verde
*/
* {
  margin: 0;
  padding: 0;
}
.box {
  background-color: bisque;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 480px) {
  .box {
    background-color: red;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .box {
    background-color: yellow;
  }
}

@media screen and (min-width: 768px) {
  .box {
    background-color: green;
  }
}
