.button__plans {
  background-color: $secondary-color;
  display: inline-block;
  padding: 15px;
  border-radius: 25px;
  min-width: 200px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;

  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color 0.5s linear;

  &:hover {
    background-color: $primary-color;
  }

  @include mediaTablet {
    width: fit-content;
  }

  @include mediaDesktop {
    width: fit-content;
  }
}
