body {
  margin: 0;
}
.box {
  background: red;
  /*
    35% de ancho y 35% de alto
    */
  width: 35vw;
  height: 35vh;
}

/*
hacer que el contenedor .box ocupe el 50% de ancho y el 100% de alto 
  width: 50vw;
  height: 100vh;
hacer que el contenedor .box ocupe el 10% de ancho y el 10% de alto
  width: 50vw;
  height: 100vh;
hacer que el contenedor .box ocupe el 100% de ancho y el 80% de alto
  width: 100vw;
  height: 80vh;
*/
