.container {
  margin: 20px;
  background-color: aquamarine;
}

.title {
  font-weight: bold;
  font-size: 32px;
}

.text {
  font-size: 18px;
  line-height: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1140px) {
  .container {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
  }

  .title {
    font-size: 28px;
  }

  .text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    margin-top: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }

  .title {
    font-size: 42px;
  }

  .text {
    font-size: 24px;
    line-height: 32px;
  }
}
