<div class="feature">
  <img src="./images/eye-icon.jpg" alt="" class="feature-icon" />
  <h3 class="feature-title"></h3>
  <p class="feature-text"></p>
  <span class="feature-link"></span>
</div>
<div class="feature">
  <img src="" alt="" class="feature-icon" />
  <h3 class="feature-title"></h3>
  <p class="feature-text"></p>
  <span class="feature-link"></span>
</div>
<div class="feature">
  <img src="" alt="" class="feature-icon" />
  <h3 class="feature-title"></h3>
  <p class="feature-text"></p>
  <span class="feature-link"></span>
</div>
