<!-- 
  <header class="page__header">
  <img src="./assets/images/logo-adalab.png" alt="Adalab">
  <h1>@@title</h1>
</header> 
-->

<header>
  <div class="wrapper">
    <div class="header-logo">
      <a href="#" alt="logo" title="Go to Brook.com">
        <img src="./assets/images/brook-logo.png" alt="Brook logo" />
      </a>
    </div>
    <nav>
      <img
        src="./assets/images/menu-icon.png"
        alt="Menu button"
        class="menu-icon"
      /><!--would be better to put the image as a background. easier to change later!and put an <a> with text in <span> positioned offscreen so it can be read by machines but not seen-->
      <ul class="header-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
