/* HERO */

.hero {
  background-color: $tertiary-color;
  color: $light-color;

  .wrapper {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mediaTablet {
      background: asset("images", "premium_dancer.png") no-repeat;
      background-position: right top;
      background-size: 50%;
      animation-name: intro;
      animation-duration: 3s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
    }
    .hero__title {
      font-size: rem(38);

      @include mediaDesktop {
        font-size: rem(50);
      }

      &span {
        display: block;
      }
    }

    .hero__text {
      font-size: rem(22);
      font-weight: bold;

      @include mediaTablet {
        font-size: rem(20);
      }
    }
  }
}

@keyframes intro {
  from {
    background-size: 60%;
  }

  to {
    background-size: 50%; /*same as above in actual element*/
  }
}
@media all and (min-width: 768px) and (orientation: portrait) {
  .hero .wrapper {
    background-position: right bottom;
  }
}
