.hero {
  height: 50vh;
  background: url("../images/slider-home.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 95px;
  position: relative;

  .claim {
    color: $color-white;
    font-size: rem(40);
    text-align: center;

    span {
      display: block;
    }
    span:first-child:before {
      content: "~";
      color: $color-secondary;
      padding: 0 10px;
      font-weight: 500;
    }

    span:first-child:after {
      content: "~";
      color: $color-secondary;
      padding: 0 10px;
      font-weight: 500;
    }
  }
}
